.editor-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .editor-header {
        height: 50px;
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid black;
    }

    .editor-main {
        flex: 1;
        display: flex;
    }

    .editor-left {
        width: 400px;
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .editor-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .editor-right {
        width: 400px;
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
