#canvas-container {
    width: 80%;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    position: relative;

    .editor-line-x {
        position: absolute;
        top: 0;
        bottom: 0;
        border-left: 1px dashed #1890ff;
    }

    .editor-line-y {
        position: absolute;
        left: 0;
        right: 0;
        border-top: 1px dashed #1890ff;
    }
}
